body {
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #1f0537,
    #380c60,
    #55108c,
    #7413bb,
    #9612eb
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
::-moz-selection {
  /* Code for Firefox */
  color: rgb(238, 151, 51);
}

::selection {
  color: rgb(238, 151, 51);
}
span {
  color: white;
}
h1 {
  font-family: "Space Mono", monospace;
  font-size: clamp(3rem, 10vw, 10rem);
  color: white;
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
}

h1:hover {
  background-color: white;
  color: black;
}

.right {
  position: relative;
  right: -180px;
  top: -60px;
}
.name1 {
  position: relative;
  top: 20px;
  font-size: 15px;
  color: #0920f3;
}
.name {
  /* padding-top: -5px; */
  font-size: 19px;
  color: rgb(255, 255, 255);
}
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

h2 {
  animation: 1s blink linear infinite;
  display: flex;
  justify-content: center;
}

.birthdayCard {
  position: relative;
  width: 250px;
  height: 350px;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: perspective(2500px);
  transition: 1s;
}

.cardFront {
  position: relative;
  background-color: #fff;
  width: 300px;
  height: 450px;
  overflow: hidden;
  transform-origin: left;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2),
    30px 0 50px rgba(0, 0, 0, 0.4);
  transition: 0.6s;
}
img {
  width: 300px;
  height: 450px;
}
.Touch {
  text-align: center;
  margin-top: 40px;
  font-size: 45px;
  color: white;
}
.cardInside {
  position: absolute;
  background-color: #fff;
  border: 2px solid rgba(9, 10, 6, 0.452);
  width: 300px;
  height: 450px;
  z-index: -3;
  left: 0;
  top: 0;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
  background-image: url(/images/Capture.PNG);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

p {
  font-family: cursive;
  /* margin: 40px; */
  color: #000;
  padding: 10px;
}

h1 {
  position: absolute;
  left: 130px;
  top: 250px;
  /* font-weight: 800; */
  color: #333;
  text-decoration: underline;
}

.back {
  font-family: Tahoma, sans-serif;
  color: #333;
  text-align: center;
  margin: 30px;
  outline-color: #333;
  outline-style: dotted;
}

.birthdayCard:hover {
  transform: perspective(2500px) rotate(5deg);
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2),
    0 10px 100px rgba(0, 0, 0, 0.5);
}

.birthdayCard:hover .cardFront {
  transform: rotateY(-160deg);
}

.birthdayCard:hover .happy {
  visibility: hidden;
}

@keyframes blink {
  0% {
    color: white;
  }

  20% {
    color: yellow;
  }

  40% {
    color: greenyellow;
  }

  60% {
    color: red;
  }

  80% {
    color: hotpink;
  }

  100% {
    color: blue;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dabbab;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bd937c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-width: 350px) {
  body {
    margin: auto;
    width: 50%;
  }
  .birthdayCard {
    position: relative;
    width: 80%;
    height: 60%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: 1s;
  }
}
